/* Para Tablets */
@media (max-width: 1024px) and (min-width: 768px) {
    .banner-container {
        width: 48rem;
    }
  }
  
  /* Para Celulares */
  @media (max-width: 767px) {
    .banner-container {
        width: 32rem;
    }
  
    .title {
        font-size: 2.6rem;
    }
  
    .card-timer {
        font-size: 6rem;
    }
    .active-task {
        gap: 2rem;
    }
  }